<div  class="">
    <!-- ==============================
========== START CONTAINER ==========
============================== -->
    <div class="bg-bluegray-50">
        <div class="container-rb py-5">
            <div class="">
                <div class="flex justify-content-center align-content-center flex-wrap card-container yellow-container mt-4 mb-6 md:mt-6 md:mb-7" style="min-height:400px">
                    <div class="text-center opacity-60 mb-5">
                        <div class="text-7xl font-bold line-height-3 mb-2">Oops!
                        </div>
                        <div class="text-2xl font-normal line-height-3">No hemos podido encontrar la página que buscas.
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- ==============================
========== END CONTAINER ==========
============================== -->
</div>