<div class="surface-0 shadow-1 mb-1">
    <div class="container-rb">
        <div class="grid m-0 pt-2 pb-2 flex align-content-center flex-wrap justify-content-end">
            <div class="col-12 md:col-6 flex align-items-center flex-wrap px-0 mb-1 md:mb-0">
                <div class="text-2xl"><span class="font-bold">Registro de Usuarios</span></div>
            </div>
            <div class="col-12 flex align-content-center flex-wrap justify-content-end px-0 md:col-6 mb-0">
                <button pButton pRipple type="button" icon="pi pi-plus" label="Nuevo Usuario" (click)="openNewProduct()"
                    class="flex-1 block md:flex-none w-auto p-button-rounded p-button-secondary font-medium"></button>
            </div>

        </div>
    </div>
</div>
<div class=" bg-bluegray-50">
    <div class="container-rb py-5">
        <!-- START SECTION SEARCH FILTERS -->
        <div class="py-2 px-3 md:py-3 md:px-4 surface-0 shadow-1 br-12-rb mb-4 md:mb-5">
            <p-accordion class="accordionFilter" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
                <p-accordionTab class="border-none" [selected]="true">
                    <ng-template pTemplate="header">
                        <div class="text-lg font-medium">Filtros de búsqueda</div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <form [formGroup]="formCriteria" (ngSubmit)="search(formCriteria.value)">
                            <div class="p-fluid p-formgrid p-grid formgrid grid mt-2 md:mt-3 mb-1">
                              <div *ngIf="sociedad === 'ANY'" class="field col-12 md:col-4">
                                <label class="text-sm font-medium">Sociedad</label>
                                <p-dropdown
                                    formControlName="sociedad"
                                    [options]="sociedades"
                                    optionLabel="label"
                                    [showClear]="true"
                                    placeholder="Todos">
                                </p-dropdown>
                              </div>
                              <div class="field col-12 md:col-4">
                                  <label class="text-sm font-medium">Nombre</label>
                                  <input formControlName="nombreUsuario" placeholder="Escriba un nombre de usuario"
                                      type="text" pInputText>
                              </div>
                              <div class="field col-12 md:col-4">
                                <label class="text-sm font-medium">Rol</label>
                                <p-dropdown
                                    formControlName="rol"
                                    [options]="roles"
                                    optionLabel="label"
                                    [showClear]="true"
                                    placeholder="Todos">
                                </p-dropdown>
                              </div>

                              <div class="field col-12 md:col-4">
                                  <label class="text-sm font-medium">Estado</label>
                                  <p-dropdown
                                      formControlName="estado"
                                      [options]="estados"
                                      optionLabel="label"
                                      [showClear]="true"
                                      placeholder="Todos">
                                  </p-dropdown>
                              </div>
                                <div class="field col-12 md:col-12 mb-1 md:mb-0">
                                    <label class="md:block">&nbsp;</label>
                                    <div class="flex align-content-center flex-wrap justify-content-end">
                                        <button pButton pRipple type="button" label="Limpiar" (click)="clear()"
                                            class="flex-1 md:flex-none w-auto p-button-rounded p-button-plain p-button-text mr-2"></button>
                                        <button pButton pRipple type="button" label="Buscar"
                                            (click)="search(formCriteria.value)"
                                            class="flex-1 md:flex-none w-auto p-button-rounded"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </p-accordionTab>
            </p-accordion>
        </div>

        <div class="py-2 px-3 md:px-4 md:py-4 surface-0 shadow-1 br-12-rb mb-5">
            <div class="grid my-0 title-section-rb">
                <div class="col-8 md:col-6 flex align-content-center flex-wrap">
                    <div class="text-lg font-medium">Lista de Usuarios</div>
                </div>
                <div class="col-4 md:col-6 flex align-content-center flex-wrap justify-content-end">
                    <button *ngIf="userResult?.users?.length > 0" pButton pRipple
                        pTooltip="Descargar resultados" tooltipPosition="left" type="button" icon="pi pi-download"
                        class="p-button-rounded p-button-text" (click)="download(formCriteria.value)"></button>
                </div>
            </div>

            <div *ngIf="userResult?.users?.length > 0" class="pt-4">
                <div class="hidden md:block bg-bluegray-50 px-1 md:py-2">
                    <div class="md:flex align-items-center">
                        <div class="flex px-2 md:px-1 align-items-center w-status-rb">&nbsp;</div>
                        <div class="flex-1">
                            <div class="grid m-0 align-items-center text-sm font-semibold">
                                <div class="col-12 md:col-3">
                                    <label>Correo</label>
                                </div>
                                <div class="col-12 md:col-2">
                                    <label>Nombres</label>
                                </div>
                                <div class="col-12 md:col-2">
                                    <label>Apellidos</label>
                                </div>
                                <div class="col-12 md:col-2">
                                    <label>Telefono</label>
                                </div>
                                <div class="col-12 md:col-2">
                                    <label>Rol</label>
                                </div>
                                <div class="col-12 md:col-1">
                                    <label>&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="flex px-1 align-items-center w-icon-1-rb">&nbsp;</div> -->
                    </div>
                </div>
                <div class="m-0">
                    <div *ngFor="let user of userResult?.users" class="item-grid-rb px-1 py-3 md:py-2">
                        <div class="md:flex align-items-center relative">
                            <div class="flex py-1 md:py-0 px-2 md:px-1 align-items-center mr-6 md:mr-0">
                                <div class="md:px-2">
                                    <div class="status-rb" [ngClass]="{
                                        'status-processed-rb': user.estadoRegistro === 1,
                                        'status-rejected-rb': user.estadoRegistro === 0
                                        }
                                        ">{{user.estadoNombre}}</div>
                                </div>
                            </div>
                            <div class="flex-1 mr-6 md:mr-0">
                                <div class="grid m-0 align-items-center">
                                    <div class="col-12 md:col-3">
                                        <label class="md:hidden font-medium mr-2">Correo:</label>
                                        <label>{{ user.correo }}</label>
                                    </div>
                                    <div class="col-12 md:col-2">
                                        <label class="md:hidden font-medium mr-2">Nombres:</label>
                                        <label>{{ user.nombre }}</label>
                                    </div>
                                    <div class="col-12 md:col-2">
                                        <label class="md:hidden font-medium mr-2">Apellidos:</label>
                                        <label>{{ user.apellidoPaterno }} {{ user.apellidoMaterno }}</label>
                                    </div>
                                    <div class="col-12 md:col-2">
                                        <label class="md:hidden font-medium mr-2">Telefono:</label>
                                        <label>{{ user.telefono }}</label>
                                    </div>
                                    <div class="col-12 md:col-2">
                                        <label class="md:hidden font-medium mr-2">Rol:</label>
                                        <label>{{ user.rolNombre }}</label>
                                    </div>
                                    <div class="col-12 md:col-1">
                                      <button pButton icon="pi pi-pencil" class="p-button-text p-button-rounded" (click)="openEdit(user)" [disabled]="user.estadoRegistro === 0"></button>
                                      <button *ngIf="user.estadoRegistro === 1" pButton icon="pi pi-trash" class="p-button-text p-button-rounded p-button-danger" (click)="deactivateUser(user)"></button>
                                      <button *ngIf="user.estadoRegistro === 0" pButton icon="pi pi-check" class="p-button-text p-button-rounded p-button-success" (click)="activateUser(user)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <p-paginator #paginator [rows]="_maxResult" [totalRecords]="userResult?.total"
                    (onPageChange)="paginate($event, formCriteria.value)"></p-paginator>
            </div>
            <tramarsa-message-result
                *ngIf="userResult?.users !== null && userResult?.users?.length <= 0"
                [message]="'No se han encontrado coincidencias con los criterios seleccionados.'">
            </tramarsa-message-result>
            <tramarsa-message-result *ngIf="userResult?.users === null"
                [message]="'Seleccione los criterios para mostrar resultados.'">
            </tramarsa-message-result>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<p-toast position="bottom-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [position]="'top'" [baseZIndex]="10000"></p-confirmDialog>
