<div id="RECOVER" class="">
  <!-- <form [formGroup]="recoverForm" (ngSubmit)="sendRecover(recoverForm.value)"> -->
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="send(forgotPasswordForm.value)">
    <div class="login" style="background-size: cover;">
      <div class="container-rb py-5">
        <div class="grid mx-0">
          <div class="col-10 col-offset-1 md:col-8 md:col-offset-2 p-0 br-12-rb surface-0 my-5 shadow-5"
            style="height: 500px;">
            <div class="grid m-0 min-h-full">
              <div class="col-12 md:col-6 bg-login min-h-full hidden md:block"
                style="border-radius: 12px 0 0 12px; background-image: url(../assets/images/logo-login-ferreteria.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
                &nbsp;
              </div>
              <div class="col-12 md:col-6 br-12-rb p-4 md:p-6">
                <div class="grid m-0">
                  <div class="col-12">
                    <div class="mt-7 mb-5 text-center">
                      <div class="text-xl font-medium">Olvido su contraseña</div>
                    </div>
                    <div class="p-fluid p-formgrid p-grid formgrid grid mb-1">
                      <div class="field col-12">
                        <span class="p-input-icon-left">
                          <i class="pi pi-envelope p-text-secondary font-medium"></i>
                          <input type="email" pInputText placeholder="Correo electrónico" formControlName="email" />
                        </span>
                      </div>
                      <div class="field col-12 md:col-7 md:col-offset-5 mt-2">
                        <button pButton pRipple type="submit" label="Enviar"
                          class="p-button-rounded p-button-secondary"
                          style="padding-top: 10px; padding-bottom: 10px;"></button>
                      </div>
                      <div class="col-12 text-center mt-3">
                        <a (click)="changePageLogin()" class="text-sm text-blue-500 hover:underline">¿Ya tienes una cuenta? Inicia sesión</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
