<div id="NO-AUTORIZADO" class="">
    <!-- ==============================
========== START CONTAINER ==========
============================== -->
    <div class="bg-bluegray-50">
        <div class="container-rb py-5">
         
            <div class="">
                <div class="flex justify-content-center align-content-center flex-wrap mt-4 mb-6 md:mt-6 md:mb-7" style="min-height:400px">
                    <div class="text-center mb-5">
                        <i class="pi pi-lock font-bold text-7xl p-error mb-4"></i>
                        <div class="text-3xl font-bold line-height-3">Acceso denegado.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==============================
========== END CONTAINER ==========
============================== -->
</div>