<div class="grid m-0 pt-2 pb-2 flex align-content-center flex-wrap justify-content-end">
    <div class="col-12 md:col-6 flex align-items-center flex-wrap px-0 mb-1 md:mb-0">
        <div class="text-2xl">Hola! <span class="font-bold">Nombre Apellido A.</span></div>
    </div>
    <div class="col-12 flex align-content-center flex-wrap justify-content-end px-0 md:col-6 mb-0">
        <button pButton pRipple type="button" icon="pi pi-upload" label="Importar"
            class="flex-1 block md:flex-none w-auto p-button-rounded p-button-secondary p-button-text mr-2 font-medium"></button>
        <button pButton pRipple type="button" icon="pi pi-plus" label="Agregar"
            class="flex-1 block md:flex-none w-auto p-button-rounded p-button-secondary font-medium"></button>
    </div>
</div>